*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* header styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;
}
.nav-title{
    font-size: 30px;
    font-weight: 700;
    color: #3A3A3A;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
/* banner section styles */
.banner{
    padding: 100px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    width: 50%;
}
.banner-title{
    font-size: 52px;
    font-weight: 900;
    line-height: 1.2em;
    color: #3A3A3A;
    margin-bottom: 20px;
}
.banner-info{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 20px;
}
.btn-banner{
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px;
    color: white;
    background-color: #E02C6D;
    border: 0;
    border-radius: 25px;
}
.banner-img{
    width: 40%;
    background-image: url(..//images/Circle\ design.svg);
}
/* sponsor section styles */
.sponsor{
    padding: 100px 170px;
}
.sponsor-content{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    padding: 20px 30px;
}

/* Products section styles */
.products{
    padding: 100px 190px;
}
.product-title{
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.5em;
}
.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.single-product img{
    width: 100%;
}
.single-product{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
.p-title{
    font-size: 28px;
    font-weight: 500;
    color: #3A3A3A;
    margin-top: 10px;
}
.price{
    font-size: 22px;
    font-weight: 400;
    color: #3A3A3A;
}
.p-info{
    font-size: 14px;
    font-weight: 400;
    color: #787885;
    margin-bottom: 5px;
}
.fa-solid.fa-star ,.fa-star-half-stroke {
    color: #FB8200;
}

/* bottom section styles */
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 165px;
    gap: 90px;
}
.bottom-content{
    width: 60%;
    padding-right: 100px;
}
.bottom-title{
    font-size: 38px;
    font-weight: 700;
    color: #0A0826;
    margin-bottom: 20px;
}
.bottom-info{
    font-size: 16px;
    font-weight: 700;
    color: #787885;
    margin-bottom: 20px;
}
.bottom-btn{
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #E02C6D;
    padding: 10px 20px;
    border: 0;
}
.bottom-img{
    width: 40%;
}
.bottom-img img{
    width: 100%;
}
/* footer section styles */
.foot{
    padding: 60px 100px;
    background-color: #0A0826;
    text-align: center;
}
.foot-title{
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}
.foot-info{
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}
.terms-condition{
    font-size: 12px;
    font-weight: 500;
    color: #D9DBE1;
    margin-bottom: 20px;
}
.icon i{
    margin-right: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: lightgray;
}
.icon a{
    text-decoration: none;
    color: gray;
}
